@model Ptpn8.UserManagement.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Ubah/Ganti Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Ubah/Ganti Password.</h4>*@
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.UserName)
    <div class="form-group" style="font-size: medium;">
        @Html.LabelFor(m => m.NamaKaryawan, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NamaKaryawan, new { @class = "form-control", style = "width: 300px;" })
        </div>
    </div>
    <div class="form-group" style="font-size: medium;">
        @Html.LabelFor(m => m.JabatanKaryawan, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.JabatanKaryawan, new { @class = "form-control", style = "width: 300px;" })
        </div>
    </div>
    <div class="form-group" style="font-size: medium;">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "width: 300px;" })
        </div>
    </div>
    <div class="form-group" style="font-size: medium;">
        @Html.LabelFor(m => m.PosisiLokasiKerjaId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @(Html.Kendo().DropDownListFor(m => m.PosisiLokasiKerjaId)
                                                        .AutoBind(true)
                                                        .OptionLabel("Pilih ..")
                                                        .MinLength(2)
                                                        .Filter("contains")
                                                        .DataTextField("Nama")
                                                        .DataValueField("LokasiKerjaId")
                                                        .DataSource(ds => ds.Read(r => r.Action("GetLokasiKerjaBOD1", "ddl", new { Area = "Referensi" }).Type(HttpVerbs.Post)))
                                                        .Events(ev => { ev.Select("PosisiLokasiKerjaIdOnSelect"); ev.Change("PosisiLokasiKerjaIdOnSelect"); ev.DataBound("PosisiLokasiKerjaIdOnSelect"); })
                                                        .HtmlAttributes(new { style = "width: 35%" })
            )
        </div>
    </div>
    <div class="form-group" style="font-size: medium;">
        @Html.LabelFor(m => m.LokasiKerjaId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @(Html.Kendo().DropDownListFor(m => m.LokasiKerjaId)
                                                        .AutoBind(true)
                                                        .OptionLabel("Pilih ..")
                                                        .MinLength(2)
                                                        .Filter("contains")
                                                        .DataTextField("Nama")
                                                        .DataValueField("LokasiKerjaId")
                                                        .DataSource(ds => ds.Read(r => r.Action("GetLokasiKerjaBOD2", "ddl", new { Area = "Referensi" }).Data("filterLokasiKerjaId").Type(HttpVerbs.Post)))
                                                        .Events(ev => { ev.Select("LokasiKerjaIdOnSelect"); ev.Change("LokasiKerjaIdOnSelect"); ev.DataBound("LokasiKerjaIdOnSelect"); })
                                                        .HtmlAttributes(new { style = "width: 35%" })
            )
        </div>
    </div>
    <div class="form-group" style="font-size: medium;">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="font-size: medium;">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Ganti Password" />
        </div>
    </div>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<script>
    var PosisiLokasiKerjaId = '00000000-0000-0000-0000-000000000000';
    var LokasiKerjaId = '00000000-0000-0000-0000-000000000000';

    function filterPosisiLokasiKerjaId() {
        //return {
        //    value: $('#PosisiLokasiKerjaId').val()
        //};
    }

    function PosisiLokasiKerjaIdOnSelect(e) {
        if (typeof (e.item) != 'undefined')
            _id = this.dataItem(e.item);
        else
            _id = e.sender.dataItem();

        var x = $('#LokasiKerjaId').data('kendoDropDownList');
        PosisiLokasiKerjaId = _id.LokasiKerjaId;
        LokasiKerjaId = x._initial;
        x.dataSource.read()
    }

    //function LokasiTujuan(e) {

    //    if (typeof (e.item) != 'undefined')
    //        _id = this.dataItem(e.item);
    //    else
    //        _id = e.sender.dataItem();

    //    posisiLokasiKerjaId = _id.PosisiLokasiKerjaId;
    //    namaPosisiLokasiKerja = _id.Nama;
    //    $('#PosisiLokasiKerjaId').val(posisiLokasiKerjaId);
    //    PosisiLokasiKerjaId = _id.PosisiLokasiKerjaId;
    //    $('#NamaLokasiKerja').data('kendoDropDownList').dataSource.read()
    //}


    function filterLokasiKerjaId() {
        return {
            lokasiKerjaId: PosisiLokasiKerjaId
        }
    }

    function LokasiKerjaIdOnSelect(e) {
        if (typeof (e.item) != 'undefined')
            _id = this.dataItem(e.item);
        else
            _id = e.sender.dataItem();
        if (_id.LokasiKerjaId == "")
            lokasiKerjaId = LokasiKerjaId
        else
            lokasiKerjaId = _id.LokasiKerjaId;

        $('#LokasiKerjaId').data('kendoDropDownList').value(lokasiKerjaId);
    }

        //function LokasiTujuanBOD2(e) {

        //    if (typeof (e.item) != 'undefined')
        //        _id = this.dataItem(e.item);
        //    else
        //        _id = e.sender.dataItem();

        //    lokasiKerjaId = _id.LokasiKerjaId;
        //    namaLokasiKerja = _id.Nama;
        //    $('#LokasiKerjaId').val(lokasiKerjaId);

        //}
</script>