<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-10.2.16.725.js")"></script>
@(
    // All deferred initialization statements will be rendered here
    Html.TelerikReporting().DeferredScripts()
)

<div id="_header">
    <table width="100%" class="hdr">
        <tr>
            <td>
                <div style="text-align:center">Pendapatan Perjanjian Kerjasama</div>
            </td>
        </tr>
    </table>
    <table width="50%">
        <tr>
            <td width="5%">
                <label>Tahun:</label>
            </td>
            <td width="20%">
                @(Html.Kendo().NumericTextBox().Name("Tahun").Min(2017).Format("D4").Value(2020)
                        .HtmlAttributes(new { style = "width:15%", @class = "allcaps" })
                )
            </td>
        </tr>
        <tr>
            <td width="5%">
                <label>Rentang Input Data:</label>
            </td>
            <td width="20%">
                @(Html.Kendo().DropDownList()
                            .AutoBind(true)
                            .Name("Bulan")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .HtmlAttributes(new { style = "width:55%", @class = "allcaps" })
                            .BindTo(new List<SelectListItem>()
                            {
                                new SelectListItem() {
                                    Text = "Januari",
                                    Value = "01"
                                },
                                new SelectListItem() {
                                    Text = "Februari",
                                    Value = "02"
                                },
                                new SelectListItem() {
                                    Text = "Maret",
                                    Value = "03"
                                },
                                new SelectListItem() {
                                    Text = "April",
                                    Value = "04"
                                },
                                new SelectListItem() {
                                    Text = "Mei",
                                    Value = "05"
                                },
                                new SelectListItem() {
                                    Text = "Juni",
                                    Value = "06"
                                },
                                new SelectListItem() {
                                    Text = "Juli",
                                    Value = "07"
                                },
                                new SelectListItem() {
                                    Text = "Agustus",
                                    Value = "08"
                                },
                                new SelectListItem() {
                                    Text = "September",
                                    Value = "09"
                                },
                                new SelectListItem() {
                                    Text = "Oktober",
                                    Value = "10"
                                },
                                new SelectListItem() {
                                    Text = "Nopember",
                                    Value = "11"
                                },
                                new SelectListItem() {
                                    Text = "Desember",
                                    Value = "12"
                                }
                                })
                )
                s/d
                @(Html.Kendo().DropDownList()
                            .AutoBind(true)
                            .Name("Bulan2")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .HtmlAttributes(new { style = "width:55%", @class = "allcaps" })
                            .BindTo(new List<SelectListItem>()
                            {
                                new SelectListItem() {
                                    Text = "Januari",
                                    Value = "01"
                                },
                                new SelectListItem() {
                                    Text = "Februari",
                                    Value = "02"
                                },
                                new SelectListItem() {
                                    Text = "Maret",
                                    Value = "03"
                                },
                                new SelectListItem() {
                                    Text = "April",
                                    Value = "04"
                                },
                                new SelectListItem() {
                                    Text = "Mei",
                                    Value = "05"
                                },
                                new SelectListItem() {
                                    Text = "Juni",
                                    Value = "06"
                                },
                                new SelectListItem() {
                                    Text = "Juli",
                                    Value = "07"
                                },
                                new SelectListItem() {
                                    Text = "Agustus",
                                    Value = "08"
                                },
                                new SelectListItem() {
                                    Text = "September",
                                    Value = "09"
                                },
                                new SelectListItem() {
                                    Text = "Oktober",
                                    Value = "10"
                                },
                                new SelectListItem() {
                                    Text = "Nopember",
                                    Value = "11"
                                },
                                new SelectListItem() {
                                    Text = "Desember",
                                    Value = "12"
                                }
                                })
                )
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="left">
                <div class="confirm">
                    <button id="btnSubmitHeader" class="submit k-button" type="button" onclick="btnProsesOnClick()">Proses</button>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="_detail">
@(Html.Kendo().TabStrip().Name("tabstrip").Animation(animation => animation.Open(effect => effect.Fade(FadeDirection.In)))
.Items(tabstrip =>
{
tabstrip.Add().Text("I. Table Pendapatan").Selected(true)
.Content(@<text>
    @(Html.Kendo()
        .Grid<Ptpn8.Kerjasama.Models.PendapatanMitra>(Guid.Empty.ToString())
        .Name("grdDetail")
        .Columns(g =>
        {
            g.Bound(i => i.NamaMitra).Width(100).Title("Nama Mitra");
            g.Bound(i => i.Lokasi).Width(100).Title("Lokasi");
            g.Bound(i => i.JenisPerjanjian).Width(100).Title("Jenis Perjanjian");
            g.Bound(i => i.Tanggal_PKS).Width(100).Title("Tanggal PKS").HtmlAttributes(new { style = "text-align: left" }).Format("{0:dd/MM/yyyy}");
            g.Bound(i => i.Nomor_PKS).Width(100).Title("Nomor PKS");
            g.Bound(i => i.Tanggal_Invoice).Width(100).Title("Tanggal Invoice").HtmlAttributes(new { style = "text-align: left" }).Format("{0:dd/MM/yyyy}");
            g.Bound(i => i.Nomor_Invoice).Width(100).Title("Nomor Invoice");
            g.Bound(i => i.Tagihan_Invoice).Width(100).Title("Tagihan Invoice").Format("{0:N0}").HtmlAttributes(new { style = "text-align: right;" })
                .ClientFooterTemplate("#= kendo.toString(sum,'n0') #")
                .ClientGroupFooterTemplate("#= kendo.toString(sum,'n0') #")
                .FooterHtmlAttributes(new { style = "text-align: right; background: silver;" });
            g.Bound(i => i.Tanggal_Pembayaran).Width(100).Title("Tanggal Pembayaran").HtmlAttributes(new { style = "text-align: left" }).Format("{0:dd/MM/yyyy}");
            g.Bound(i => i.Jumlah_Pembayaran).Width(100).Title("Jml. Pembayaran").Format("{0:N0}").HtmlAttributes(new { style = "text-align: right;" })
                .ClientFooterTemplate("#= kendo.toString(sum,'n0') #")
                .ClientGroupFooterTemplate("#= kendo.toString(sum,'n0') #")
                .FooterHtmlAttributes(new { style = "text-align: right; background: silver;" });
        })
        .ToolBar(toolbar =>
        {
            toolbar.Excel();
        })
        .Excel(excel => excel.AllPages(true))
        .AutoBind(false)
        .Navigatable()
        .Resizable(resizeable => resizeable.Columns(true))
        .Scrollable()
        .Sortable()
        .Groupable()
        .HtmlAttributes(new { style = "Height: 450px" })
        .DataSource(o => o
            .Ajax()
            .Group(g => g.Add(gg => gg.NamaMitra))
            .ServerOperation(false)
            .Read(read => read.Action("detailRead", "Report").Data("filterReport").Type(HttpVerbs.Post))
            .Aggregates(ag =>
            {
                ag.Add(x => x.Tagihan_Invoice).Sum();
                ag.Add(x => x.Jumlah_Pembayaran).Sum();
            })
        )
    )
    </text>);
}
)
)
</div>

<script>
    var UserName = "@HttpContext.Current.User.Identity.Name";
    function btnProsesOnClick()
    {
        var grid = $('#grdDetail').data('kendoGrid');
        grid.dataSource.read();
    }

    function filterReport(e) {
        return {
            strClassView: 'Ptpn8.Kerjasama.Models.PendapatanMitra',
            scriptSQL: "EXEC KerjasamaEF.dbo.Kerjasama_DashboardPendapatan '" + UserName + "'," + $('#Bulan').val() + "," + $('#Bulan2').val() + ","+$('#Tahun').val()
        }
    }
</script>






